/**
 * Application rules
 */

/* Login-Cite */
#cite{ margin-top:30px; }
/* Forms */
#login { padding-top: 33px; }
#login input{ display: inline; margin-right: 5px;}
#facebook { position: relative; top: 37px; margin-bottom: 30px; border-left: 1px solid #CCC; padding-left: 50px; }
#facebook img { cursor: pointer; }
